[Desktop Entry]
Type=Application
Name=SliTaz Installer
Name[pt]=Instalador do SliTaz
Name[pt_BR]=Instalador do SliTaz
Name[ru]=Установка SliTaz
Name[zh_CN] = SliTaz 系统安装工具
Icon=slitaz-icon
Exec=sh -c "browser http://tazpanel:82/user/installer.cgi || terminal -e slitaz-installer"
Categories=System;
