[Desktop Entry]
Encoding=UTF-8
Name=Tazinst manual
Name[pt]=Manual do Tazinst
Name[pt_BR]=Manual do Tazinst
Name[fr]=Manuel de Tazinst
Name[ru]=Руководство TazInst
Exec=browser file:///usr/share/doc/slitaz/tazinst.html
Icon=text-html
Type=Application
Categories=Documentation;
